ul {
  padding: 0;
  margin-bottom: 0;
}

li {
  list-style: none;
}

button {
  outline: none !important;
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

.list-wrapper {
  font-size: 0;
}

.list-text {
  text-align: left;
  margin-right: 60px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: default;
}

.removebtn {
  float: right;
}

.help-note {
  text-align: left;
  font-size: 14px;
}

.list-item {
  position: relative;
  padding-left: 70px;
  font-size: 20px;
  height: 50px;
  line-height: 50px;
}

.through {
  text-decoration: line-through;
  color: #ccc;
}

.btn-del {
  position: absolute;
  right: 20px;
  top: 15px;
  font-size: 12px;
  padding: 4px;
}

.btn-add {
  font-size: 12px;
}

.input-group-addon {
  cursor: pointer;
}

.title {
  position: relative;
}

.by {
  position: absolute;
  bottom: 0;
  font-size: 12px;
  margin-left: 10px;
}

.btn {
  border-radius: 50%;
  font-size: 0;
  padding: 8px;
  margin: 0 6px;
}

.colorBtn {
  text-align: left;
  margin-top: 8px;
  margin-bottom: 8px;
}

.nav-justified {
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  margin-top: 10px;
}

.tabs-bottom {
  border-radius: 4px !important;
  border: 1px solid #ddd !important;
}

.nav-justified li a {
  font-size: 14px;
  text-align: left !important;
  border: none !important;
  border-radius: 4px !important;
}

.list-ul {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.list-ul li:last-child {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom: 1px solid #ddd;
}

.checkbox-todo {
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 8px;
  border: 2px solid #2c3e50;
  left: 30px;
  top: 15px;
}

.checkbox-todo:hover {
  background: rgba(0, 0, 0, 0.1);
}

.checkbox-havedo {
  position: absolute;
  left: 30px;
  top: 15px;
  color: #ccc;
}

.checkbox-havedo:hover,
.checkbox-havedo:hover ~ .through {
  color: #8e8d8d;
}

.glyphicon-option-vertical {
  position: absolute;
  top: 15px;
  left: 5px;
}

.glyphicon-option-vertical {
  cursor: move;
}

.changeText {
  position: absolute;
  top: 8px;
  left: 70px;
  width: calc(100% - 130px);
  z-index: 1;
}
